{% extends 'base_fullscreen.html' %}

{% load equipment_types %}

{% block page_h1 %}Equipment{% endblock page_h1 %}

{% block before_content %}

    <div id="sideBarFilter">
        <div id="filters">
            <form method="get" id="filterForm">
                <h3 class="text-center">Filters</h3>
                {{ filter.form }}
                <button type="submit" class="btn btn-primary mb-3 mt-2 w-100">Filter</button>
                <button type="button" class="btn btn-danger w-100"
                        onclick="window.location.href = {% url 'equipment_list' %}">Clear
                </button>
            </form>
        </div>
        <div id="chevron" onclick="showFilters()">
            <span>
                <i class="bi bi-funnel"></i>
            </span>
        </div>
    </div>

    <div id="sideBarDownload">
        <form method="post" id="downloadCSV">
            {% csrf_token %}
        </form>
        <button type="submit" form="downloadCSV">
            <i class="bi bi-filetype-csv"></i>
        </button>
    </div>

{% endblock before_content %}

{% block main_content %}
    <div class="row mb-4">
    {#        <select class="selectpicker" multiple>#}
    {#            <option selected>Location</option>#}
    {##}
    {#            {% for location in locations %}#}
    {#                <option value="{{ location.id }}">{{ location }}</option>#}
    {#            {% endfor %}#}
    {#        </select>#}
    {##}
    {#        <select class="selectpicker" multiple>#}
    {#            <option selected>Technological node</option>#}
    {##}
    {#            {% for node in nodes %}#}
    {#                <option value="{{ node.id }}">{{ node }}</option>#}
    {#            {% endfor %}#}
    {#        </select>#}
    {#        <select class="selectpicker" multiple>#}
    {#            <option selected>Equipment mark</option>#}
    {##}
    {#            {% for mark in marks %}#}
    {#                <option value="{{ mark.name }}">{{ mark.name }}</option>#}
    {#            {% endfor %}#}
    {#        </select>#}
    {#    </div>#}

    {% with request.GET.order_by as order %}


        <div class="row table-head">
            <div class="col-1">Country
                {% if order == '-position__technological_node__location__country' %}
                    <i class="bi bi-caret-down-fill"></i>
                {% elif order == 'position__technological_node__location__country' %}
                    <i class="bi bi-caret-up-fill"></i>
                {% endif %}
            </div>
            <div class="col-1">City
                {% if order == '-position__technological_node__location__city' %}
                    <i class="bi bi-caret-down-fill"></i>
                {% elif order == 'position__technological_node__location__city' %}
                    <i class="bi bi-caret-up-fill"></i>
                {% endif %}
            </div>
            <div class="col-1">Node number</div>
            <div class="col-1">Node</div>
            <div class="col-1">Position</div>
            <div class="col-1">Quantity, pcs</div>
            <div class="col-1">Type</div>
            <div class="col-2">Mark
                {% if order == '-name' %}
                    <i class="bi bi-caret-down-fill"></i>
                {% elif order == 'name' %}
                    <i class="bi bi-caret-up-fill"></i>
                {% endif %}
            </div>
            <div class="col-1">Power, kW
                {% if order == '-power' %}
                    <i class="bi bi-caret-down-fill"></i>
                {% elif order == 'power' %}
                    <i class="bi bi-caret-up-fill"></i>
                {% endif %}
            </div>
            <div class="col-1">Weight, kg
                {% if order == '-weight' %}
                    <i class="bi bi-caret-down-fill"></i>
                {% elif order == 'weight' %}
                    <i class="bi bi-caret-up-fill"></i>
                {% endif %}
            </div>
            <div class="col-1">Created
                {% if order == '-created_at' %}
                    <i class="bi bi-caret-down-fill"></i>
                {% elif order == 'created_at' %}
                    <i class="bi bi-caret-up-fill"></i>
                {% endif %}
            </div>
        </div>

    {% endwith %}

    {% for equipment in equipments %}
        <div class="row bg-white">
            <div class="col-1">{{ equipment.position.technological_node.location.country }}</div>
            <div class="col-1">{{ equipment.position.technological_node.location.city }}</div>
            <div class="col-1">{{ equipment.position.technological_node.node_number }}</div>
            <div class="col-1">{{ equipment.position.technological_node.name }}</div>
            <div class="col-1">{{ equipment.position.name }}</div>
            <div class="col-1">{{ equipment.position.quantity }}</div>
            <div class="col-1">{% get_equipment_name equipment.type %}</div>
            <div class="col-2">{{ equipment.name }}</div>
            <div class="col-1">{{ equipment.power }}</div>
            <div class="col-1">{{ equipment.weight }}</div>
            <div class="col-1">{{ equipment.created_at|date:"Y.m.d H:i" }}</div>
        </div>
    {% endfor %}

{% endblock main_content %}

{% block modals %}

{% endblock modals %}


{% block extra_scriprts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
{% endblock extra_scriprts %}