{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block main_content %}

    <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 border-with-shadow">
        <h1 class="text-center mb-3">Login</h1>
        <form method="post" id="LoginForm" class="mb-4">
            {{ form.non_field_errors }}

            {% csrf_token %}

            <input type="email" name="username" autocomplete="username" required id="id_username"
                   class="form-control mb-4" aria-describedby="emailHelp" placeholder="Enter email">
            <input type="password" name="password" class="form-control" required id="id_password"
                   autocomplete="current-password" placeholder="Password">

        </form>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block w-100" form="LoginForm"
                        id="LoginBtn">Login
                </button>
            </div>
            {#                    <div class="col-6">#}
            {#                        <a href="{% url 'password_reset' %}" class="forgot-pass">Forgot password?</a>#}
            {#                    </div>#}

        </div>

    </div>

{% endblock main_content %}
