{% extends 'base.html' %}

{% load equipment_types %}

{% block page_h1 %}{{ project }} project price{% endblock page_h1 %}

{% block main_content %}

    <div class="row table-head">
        <div class="col-3">Position</div>
        <div class="col-3">Mark</div>
        <div class="col-2">Quantity, pcs</div>
        <div class="col-2">Price, USD/pcs</div>
        <div class="col-2">Total price, USD</div>
    </div>
    {% for node in technological_nodes %}
        <div class="row node-line">
            <div class="col-6"><b>{{ node }}</b></div>
            <div class="col-4"><b>{{ node.quantity_total }}</b></div>
            <div class="col-2"><b>{{ node.price_total|floatformat:2 }}</b></div>
        </div>
        {% for position in node.positions.all %}
            <div class="row bg-white">
                <div class="col-3">{{ position.name }}</div>
                <div class="col-3">{{ position.equipment.name|default:'-' }}</div>
                <div class="col-2">{{ position.quantity|default:'-' }}</div>
                <div class="col-2">{{ position.equipment.price|floatformat:2|default:'-' }}</div>
                {% multiple position.equipment.price position.quantity as total_price %}
                <div class="col-2">{{ total_price|floatformat:2|default:'-' }}</div>

            </div>
        {% endfor %}
    {% endfor %}
    <div class="row mt-3 total-row">
        <div class="col-6">TOTAL:</div>
        <div class="col-4">{{ project.equipment_count|default:'-' }}</div>
        <div class="col-2">{{ project.price_total|floatformat:2|default:'-' }}</div>

    </div>


{% endblock main_content %}

