<nav class="navbar navbar-expand-lg bg-body-tertiary" id="headerBlock">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'projects_list' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'projects_list' %}">Projects</a>
                <a class="nav-link" href="{% url 'manufactures' %}">Manufactures</a>
                <a class="nav-link" href="{% url 'equipment_list' %}">Equipment</a>
                <a class="nav-link" href="{% url 'statistic' %}">Statistic</a>
                <a class="nav-link" href="{% url 'statistic_by_month' %}">Activity statistic</a>
                <a class="nav-link" href="{% url 'raw_sql' %}">RAW SQL</a>
                <a id="logoutBtn" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i></a>
            </div>

        </div>
    </div>
</nav>